.ipynb_checkpoints/
__pycache__/
experiments/
*.pt
*.pth
*.ckpt
.env

# Ignore Python Environment Folders
venv/
env/
.idea/
.vscode/
.DS_Store
logs/
edge_glass_env/



code_base/notebooks/freeze_align_poc/data/
code_base/other_repo/
